<div id="about-text" style="display: none;">
    <style>
    .rcf-em1 {
        font-weight: bold;
        background-color: whitesmoke;
        border-radius: 5px;
        padding: 0 3px;
    }
    </style>
    <h5>CrRW: Cr7d100k and RW_Cr7d100k</h5>
    <p>We propose to use <b>CrRW</b> to measure the trends in COVID-19 or other infectious diseases, which includes two indicators: </p>
    <p>1. <b>Cr7d100k</b>: 7-day smoothed average daily case rate per 100k capita;</p>
    <p>2. <b>RW_Cr7d100k</b>: the ratio of this week’s Cr7d100k comparing to the week before.</p>
    <p>The data for calculating CrRW are from USAFacts and COVIDTracking.</p>
    <p>By using these two indicators in combination, we can depict the current status of the epidemic as well as recent trends with following thresholds:</p>
    <p>1. The <b class="badge badge-success">GREEN</b> status: There are two cases. First, if <span class="rcf-em1">Cr7d100k <= 10</span> for the past seven days, it would be safe. Second, if <span class="rcf-em1">Cr7d100k < 15 and RW_Cr7d100k < 1</span> for the past seven days, it would be relative safe; </p>
    <p>2. The <b class="badge badge-danger">RED</b> status: There are two cases. First, if <span class="rcf-em1">Cr7d100k > 30</span> for the past seven days, the pandemic is extremely serious. Second, if <span class="rcf-em1">Cr7d100k > 15 and RW_Cr7d100k > 1.1</span> and for the past seven days, the current pandemic situation is bad or the trend is bad;</p>
    <p>3. The <b class="badge badge-warning">ORANGE</b> status: Everything else is orange status as we cannot say much – it can go either way.</p>
    <hr>

    <h5>Data Sources</h5>
    <p>We get the latest COVID-19 data from the following data sources. <br>
        Due to differences in data update frequency, sometimes we have to use the data of closest dates to update the dashboard if the latest data is not available.</p>
    <p>
        <a href="https://github.com/CSSEGISandData/COVID-19"><b>John Hopkins Coronavirus Resource Center</b></a>: 
        The global and U.S. state-level cases and deaths data.
    </p>
    <p>
        <a href="https://covidtracking.com/"><b>COVID Tracking</b></a>: 
        The state-level cases, deaths, and tests data.
    </p>
    <p>
        <a href="https://covidactnow.org/"><b>COVID Act Now</b></a>: 
        The state-level and county-level cases, deaths, and vaccination data.
    </p>
    <p>
        <a href="https://covid.cdc.gov/covid-data-tracker/#vaccinations"><b>CDC Vaccination Tracker</b></a>: 
        The latest state-level vaccination data.
    </p>
    <p>
        <a href="https://covid.cdc.gov/covid-data-tracker/#pandemic-vulnerability-index"><b>NIH NIEHS COVID-19 Data Repository</b></a>: 
        The county-level and state-level PVI* data.
    </p>
    <p>
        <a href="https://covid.cdc.gov/covid-data-tracker/#pandemic-vulnerability-index"><b>USA Facts</b></a>: 
        The county-level cases and deaths data.
    </p>
    <p>
        <a href="https://ourworldindata.org/covid-vaccinations"><b>Our World in Data</b></a>: 
        The global vaccination data.
    </p>

    <p>* The Pandemic Vulnerability Index (PVI) is an indicator which integrates baseline data on relevant community vulnerabilities with dynamic data on local infection rates and interventions <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7430608/">PMID: 32817964</a>. The data of PVI model are from <a target="_blank" href="https://covid.cdc.gov/covid-data-tracker/#pandemic-vulnerability-index">CDC COVID Data Tracker</a>.</p>
    <hr>

</div>