<a href="/"><i class="fa fa-home"></i> Home</a> |
<a target="_blank" href="/mchrr_dashboard.html"><i class="fa fa-tachometer-alt"></i> MC HRR Case Rate Trends</a> |
<a target="_blank" href="/world_dashboard.html"><i class="fa fa-globe-americas"></i> World Case Rate Trends</a> | 
<a target="_blank" href="/dsvm_dashboard.html"><i class="fa fa-hourglass-half"></i> MC HRR Case Doubling Time Trends</a> |
<a href="javascript:void(0);" 
    onclick="jarvis.modal('About CrRW and how to use this website',$('#about-text').html());">
    <i class="fa fa-question-circle"></i>
    About
</a>