<!doctype html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<link rel="icon" href="./static/img/favicon.ico">
<title>MC HRR COVID-19 CrRW Status Dashboard</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/cb45cc91b0.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" />
<style>
html, body {
    overflow: hidden;
    font-size: 12px;
}
p {
    margin-bottom: .5rem;
}
.box-header-nav {
    padding: 0 0 0 15px;
}
/* a start screen for IE and hiding init */
#start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ss-msg {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}
/* for the gauge */
.mchrr-gauge {
    padding: 10px;
    max-width: 150px;
}
.mchrr-cdts {
    font-size: 1.1em;
    padding: 4px 0 0 0;
}
.mchrr-dncs {
    font-size: 1.3em;
}
.mchrr-nccs {
    font-size: 1.5em;
    font-weight: bold;
}
.mchrr-dths {
    font-size: 1.1em;
    color: red;
}
.mchrr-crcs {
    font-size: 1em;
    padding: 2px 5px;
    border-radius: 5px;
}
.mchrr-crcs-GYR { color: white; background: linear-gradient(90deg, rgba(255,33,5,1) 0%, rgba(247,221,32,1) 48%, rgba(18,191,22,1) 100%); }
.mchrr-crcs-G { color: white; background: green; }
.mchrr-crcs-Y { color: white; background: gold; }
.mchrr-crcs-R { color: white; background: red; }
/* for the calendar chart */
.fig-crrw-calendar {
    width: 100%;
    height: 95px;
}
.fig-crrw-calendar .crrw-day-label {
    display: inline-block;
    width: 80px;
    margin: 0 5px 1px 0 ;
    font-size: 10px;
}
.fig-crrw-calendar .crrw-day-chart {
    width: calc(100% - 80px);
    height: 95px;
}
/* for the 1-d calendar chart */
.fig-crrw-1dcal {
    height: 12px;
    width: 100%;
    padding: 0 0 0 5px;
}
.fig-crrw-1dcal:hover {
    background: whitesmoke;
}
.fig-crrw-1dcal .crrw-day-label {
    display: inline-block;
    width: 80px;
    height: 12px;
    margin: 0 5px 1px 0 ;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
    line-height: 12px;
}
.fig-crrw-1dcal .crrw-day {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 1px 1px 0 ;
}
/* for the trend chart */
.fig-crrw-trend {
    width: 100%;
    height: 165px;
    margin: 0 0 3px 0;
    background: white;
}
.crrw-trend-info {
    display: inline-block;
    width: 80px;
    padding: 0 0 0 5px;
}
.crrw-trend-bar {
    display: block;
    width: 100%;
    padding: 2px 0;
}
.crrw-trend-label {
    display: inline-block;
    width: 100%;
}
.crrw-trend-label:hover {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    background: whitesmoke;
}
.crrw-trend-label:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    background: whitesmoke;
}
.crrw-trend-chart {
    width: 100%;
    min-width: 600px;
    height: 150px;
}
.crrw-day-R {
    background: red;
}
.crrw-day-G {
    background: green;
}
.crrw-day-Y {
    background: gold;
}
.crrw-day-badge {
    padding: 1px 5px;
    border-radius: 5px;
}
#header {
    background: whitesmoke;
}
#header a {
    color: #555555;
}
.modal-dialog {
    max-width: 700px !important;
}
.map-box-fig {
    width: 300px;
    height: 220px;
}
.mchrr-trendmap-detail {
    width: calc(100% - 300px);
}
.mchrr-trendmap {
    border-bottom: 1px dotted rgb(216, 216, 216);
}
.mchrr-trendmap-name {z-index: 99;
    /* position: relative; */
    margin-top: 30px;
    margin-right: -5px;
    font-size: 1.2em;
    font-weight: bold;
}

.region-detail-box {
    width: 100%;
    max-height: 150px;
    border-top: 1px dotted #eeeeee;
    padding: 5px;
}
.region-detail-item {
    display: inline-block;
    margin: 0 10px 0 0;
}
.region-detail-name {
    background: #ececec;
    padding: 0 3px;
    border-bottom: 1px solid #ececec;
}
.region-detail-value {
    font-weight: bold;
    margin-left: -3px;
    padding: 0 3px;
    border-bottom: 1px solid #ececec;
}
.attr-color-legend {
    display: inline-block;
    width: 50px;
    height: 16px;
}
.attr-color-legend-large {
    display: inline-block;
    width: 120px;
    height: 16px;
}
.text-sm {
    font-size: 0.9em;
}
</style>
</head>

<body>

    
<div id="start-screen">
    <h1>
        <i class="fa fa-globe-americas"></i>
        MC HRR COVID-19 CrRW Status Dashboard
    </h1>
    <div id="ss-msg">Loading data and initializing plots ...</div>
</div>

<div class="container-fluid wrapper">
    <div id="header" class="row mb-3">
        <div class="col">
            <div class="mt-2 mb-2">
                <i class="fa fa-globe-americas"></i> MC HRR COVID-19 CrRW Status Dashboard |
                <a href="/"><i class="fa fa-home"></i> Home</a> |
                <a target="_blank" href="/mchrr_dashboard.html"><i class="fa fa-tachometer-alt"></i> MC HRR Case Rate Trends</a> |
                <a target="_blank" href="/world_dashboard.html"><i class="fa fa-globe-americas"></i> World Case Rate Trends</a> | 
                <a target="_blank" href="/dsvm_dashboard.html"><i class="fa fa-hourglass-half"></i> MC HRR Case Doubling Time Trends</a> |
                
                <a href="javascript:void(0);" onclick="jarvis.modal('About CrRW and how to use this website',$('#about-text').html());">About</a>
            </div>
        </div>
    </div>

    <div id="vw_gauge_tile">

        <h5>
            <i class="fa fa-viruses"></i>
            MC HRR Total Cases | Last update: {{ date }}
        </h5>
    
        <div class="row">
            <div class="col d-flex flex-row">
                <div class="mchrr-gauge">
                    <h5>&nbsp;</h5>
                    <div class="mchrr-crcs mchrr-crcs-GYR">Cr7d100k | RW:</div>
                    <!-- <div class="mchrr-cdts">CDT:</div> -->
                    <div class="mchrr-nccs">Total cases:</div>
                    <div class="mchrr-dncs">New cases:</div>
                    <div class="mchrr-dths">Total deaths:</div>
                </div>
                <div class="mchrr-gauge"
                    v-for="mchrr in mchrr_list">
                    <h5>{{ mchrr.name }}</h5>
                    <div class="mchrr-crcs"
                        v-bind:class="'mchrr-crcs-' + get_latest(mchrr.code, 'crcs')">
                        {{ get_latest(mchrr.code, 'crps').toFixed(2) }} | {{ get_latest(mchrr.code, 'crts').toFixed(2) }}
                    </div>
                    <!-- <div class="mchrr-cdts">
                        {{ get_latest(mchrr.code, 'cdts').toFixed(0) }} days
                    </div> -->
                    <div class="mchrr-nccs"
                        v-bind:class="'mchrr-nccs-' + mchrr.code">
                        {{ fmt_comma(get_latest(mchrr.code, 'nccs')) }}
                    </div>
                    <div class="mchrr-dncs"
                        v-bind:class="'mchrr-dncs-' + mchrr.code">
                        +{{ fmt_comma(get_latest(mchrr.code, 'dncs')) }}
                    </div>
                    <div class="mchrr-dths"
                        v-bind:class="'mchrr-dths-' + mchrr.code">
                        {{ fmt_comma(get_latest(mchrr.code, 'dths')) }}
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /#vw_gauge_tile -->

    <hr>

    <div id="fig_crrw_trends" class="w-100"></div>

    <div id="vw_mchrr_trends">

        <h5 class="d-flex flex-row">
            <div class="mr-3">
                <i class="fa fa-line-chart"></i>
                MC HRR CrRW Trend | Last update: {{ date }}
            </div>
            
            <div class="mr-3">
                <div class="btn-group">
                    <button id="fig_crrw_stmap_select_colorscale"
                        class="btn btn-light btn-sm dropdown-toggle" 
                        type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Map Color: {{ attr_colorscales[current.attr].name }}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" 
                            href="javascript:void(0);"
                            v-for="attr_colorscale, attr in attr_colorscales"
                            v-on:click="update_color(attr)">
                            <span class="attr-color-legend" 
                                v-bind:style="get_attr_colorscale_legend(attr_colorscale)">
                                &nbsp;
                            </span>
                            {{ attr_colorscale.name }}
                            {{ get_attr_colorscale_value_legend(attr_colorscale) }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="ml-3 pt-1">
                <span class="attr-color-legend-large d-flex justify-content-between" 
                    v-bind:style="get_attr_colorscale_legend(attr_colorscales[current.attr])">
                    <span class="text-sm ml-1">{{ get_attr_colorscale_min_value_legend(attr_colorscales[current.attr]) }}</span>
                    <span class="text-sm mr-1 text-white">{{ get_attr_colorscale_max_value_legend(attr_colorscales[current.attr]) }}</span>
                </span>
            </div>
        </h5>

        <div id="fig_crrw_regions"
            class="d-flex flex-column flex-wrap">
            
            <div v-for="mchrr in mchrr_list"
                v-bind:id="'fig_crrw_mchrrmap_vpp_' + mchrr.code"
                class="mchrr-trendmap box w-100 d-flex flex-row">
                <div class="mchrr-trendmap-name">
                    {{ mchrr.name }}
                </div>

                <div v-bind:id="'fig_crrw_mchrrmap_' + mchrr.code"
                    class="map-box-fig">
                </div>

                <div class="mchrr-trendmap-detail ml-2">
                    <div class="region-detail-box">
                        <p>For {{ date }}, {{ mchrr.name }}, (Region Population: {{ fmt_comma(data.mchrr_data[mchrr.code].pop) }}). </p>
                        <div class="region-detail-item" >
                            <span class="region-detail-name">Cr7d100k:</span>
                            <span class="region-detail-value">{{ get_detail(mchrr.code).crp }} cases per 100k capita</span>
                        </div>
                        <div class="region-detail-item" >
                            <span class="region-detail-name">RW_Cr7d100k:</span>
                            <span class="region-detail-value">{{ get_detail(mchrr.code).crt }} </span>
                        </div>
                
                        <div class="region-detail-item" >
                            <span class="region-detail-name">New cases:</span>
                            <span class="region-detail-value"
                                v-html="fmt_val('dncs', get_detail(mchrr.code).dnc)">
                            </span>
                        </div>
                
                        <div class="region-detail-item" >
                            <span class="region-detail-name">Total cases:</span>
                            <span class="region-detail-value">{{ fmt_comma(get_detail(mchrr.code).ncc) }} </span>
                        </div>
                
                        <!-- <div class="region-detail-item" >
                            <span class="region-detail-name">Vaccination Administered:</span>
                            <span class="region-detail-value">
                                {{ fmt_ind_val('vaps', get_detail(mchrr.code).vap) }}
                                ({{ fmt_ind_val('vacs', get_detail(mchrr.code).vac) }} doses)
                                <a style="color:#777777;" target="_blank" href="https://covidactnow.org/" title="The latest vaccination data come from the COVID Act Now data">
                                    <i class="far fa-question-circle"></i>
                                </a>
                            </span>
                        </div>
                
                        <div class="region-detail-item" >
                            <span class="region-detail-name">Fully Vaccinated:</span>
                            <span class="region-detail-value">
                                {{ fmt_ind_val('fvps', get_detail(mchrr.code).fvp) }}
                                ({{ fmt_ind_val('fvcs', get_detail(mchrr.code).fvc) }} people)
                                <a style="color:#777777;" target="_blank" href="https://covidactnow.org/" title="The latest vaccination data come from the COVID Act Now data">
                                    <i class="far fa-question-circle"></i>
                                </a>
                            </span>
                        </div> -->
                
                        <div class="region-detail-item" >
                            <span class="region-detail-name">Pandemic Vulnerability Index:</span>
                            <span class="region-detail-value">{{ get_detail(mchrr.code).pvi.toFixed(2) }} (Median)</span>
                        </div>
                        <div class="region-detail-item" >
                            <span class="region-detail-name">Case Doubling Time:</span>
                            <span class="region-detail-value">{{ (get_detail(mchrr.code).cdt).toFixed(1) }} days</span>
                        </div>
                        <div class="region-detail-item" >
                            <span class="region-detail-name">Total death:</span>
                            <span class="region-detail-value">{{ fmt_comma(get_detail(mchrr.code).dth) }} </span>
                        </div>
                        <div class="region-detail-item" >
                            <span class="region-detail-name">Death rate:</span>
                            <span class="region-detail-value">{{ (get_detail(mchrr.code).dtr*100).toFixed(2) }} %</span>
                        </div>
                        <div class="region-detail-item" >
                            <span class="region-detail-name">Total Cases / Population:</span>
                            <span class="region-detail-value">{{ (get_detail(mchrr.code).tcp*100).toFixed(4) }} %</span>
                        </div>
                    </div>

                    <div v-bind:id="'fig_crrw_trend_box_' + mchrr.code"
                        class="mchrr-trendmap-trend">

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div id="modal-body" class="modal-body">
            
            </div>
        </div>
        </div>
    </div>

    <div id="about-text" style="display: none;">
        <h5>CrRW: Cr7d100k and RW_Cr7d100k</h5>
        <p>CrRW is a novel method to measure the trends in COVID-19 or other infectious diseases, which includes two indicators: </p>
        <p>1. Cr7d100k: 7-day smoothed average daily case rate per 100k capita;</p>
        <p>2. RW_Cr7d100k: the ratio of this week’s Cr7d100k comparing to the week before.</p>
        <p>By using these two indicators in combination, we can depict the current status of the epidemic as well as recent trends with following thresholds:</p>
        <p>1. If Cr7d100k < 15 and RW_Cr7d100k < 1 for the past seven days, it would be on the relative safe (i.e., the <b class="badge badge-success">GREEN</b> status)</p>
        <p>2. If Cr7d100k > 30 or RW_Cr7d100k > 1 for the past seven days, the current pandemic situation is bad or the trend is bad, it’s <b class="badge badge-danger">RED</b> status.</p>
        <p>3. Everything else is <b class="badge badge-warning">ORANGE</b> status as we cannot say much – it can go either way.</p>
        <hr>
    </div>
</div>

<script>
var isIE = /*@cc_on!@*/false || !!document.documentMode;
if (isIE) {
    document.getElementById('ss-msg').innerHTML = 'The visualization used in this website require advanced web technologies, which are <b>NOT</b> supported by Internet Explorer.<br>Try using Google Chrome, Apple Safari, Mozilla Firefox or other modern browsers to access:<br><span style="font-size:1.2em;">' + location.href + '</span>';
}
</script>
<!-- JavaScript packages -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.5.0/dist/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>

<script>

{% include 'js/crrw/figmker_crrw_trend_ymax120.js' %}
{% include 'js/crrw/figmker_crrw_cntymap.js' %}


var vw_gauge_tile = {
    vpp_id: '#vw_gauge_tile',
    vpp: null,

    init: function(data) {
        this.data = data;

        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                date: data.date,
                dates: data.dates,
                mchrr_list: [
                    { code: 'AVG', name: 'ALL' },
                    { code: 'PHX', name: 'PHX' },
                    { code: 'JAX', name: 'JAX' },
                    { code: 'RST', name: 'RST/SEMN' },
                    { code: 'NWWI', name: 'NWWI' },
                    { code: 'SWMN', name: 'SWMN' },
                    { code: 'SWWI', name: 'SWWI' }
                ],
                mchrr_dict: data.mchrr_data
            },
            methods: {
                get_latest: function(mchrr_code, attr) {
                    var date_idx = this.dates.indexOf(this.date);
                    return this.mchrr_dict[mchrr_code][attr][date_idx];
                },
                fmt_comma: function(v) {
                    return jarvis.fmt_comma(v);
                }
            }
        });
    }
};

var vw_mchrr_trends = {
    vpp_id: '#vw_mchrr_trends',
    vpp: null,

    init: function(data) {
        this.data = data;

        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                data: data,

                attr_colorscales: figmker_crrw_cntymap.colorscale,

                date: data.date,
                dates: data.dates,

                current: {
                    attr: 'crcs'
                },

                mchrr_list: [
                    { code: 'AVG', name: 'ALL' },
                    { code: 'PHX', name: 'PHX' },
                    { code: 'JAX', name: 'JAX' },
                    { code: 'RST', name: 'RST/SEMN' },
                    { code: 'NWWI', name: 'NWWI' },
                    { code: 'SWMN', name: 'SWMN' },
                    { code: 'SWWI', name: 'SWWI' }
                ],
                mchrr_dict: data.mchrr_data,

                maps: [],
                figs: []
            },
            methods: {
                update_trendcharts: function() {

                    for (var i = 0; i < this.mchrr_list.length; i++) {
                        var mchrr = this.mchrr_list[i];
                    }
                },

                update_color: function(attr) {
                    this.current.attr = attr;
                    for (let i = 0; i < this.maps.length; i++) {
                        this.maps[i].current.attr = attr;
                        this.maps[i].draw();
                    }
                },

                get_attr_colorscale_legend: function(cs) {
                    var style = '';
                    if (cs.abbr == 'crcs') {
                        style = "background: linear-gradient( to right, ";
                        style += cs.schema[0][1] + ", ";
                        style += cs.schema[0][1] + " 33%, ";
                        style += cs.schema[1][1] + " 33%, ";
                        style += cs.schema[1][1] + " 66%, ";
                        style += cs.schema[2][1] + " 66%  ";
                        style += ")";

                    } else {
                        style = "background: linear-gradient(90deg";
                        for (var i = 0; i < cs.schema.length; i++) {
                            var schema_item = cs.schema[i];
                            style += ', ' + schema_item[1] + ' ' + (schema_item[0] * 100) + '%'
                        } 
                        style += ');'
                    }
                    return style;
                },

                get_attr_colorscale_value_legend: function(cs) {
                    if (['tcps', 'fvps', 'vaps'].indexOf(cs.abbr)>=0) {
                        return '('+ 
                            this.get_attr_colorscale_min_value_legend(cs) +
                            ' - ' + 
                            this.get_attr_colorscale_max_value_legend(cs) +
                        ')';

                    } else if (['crcs'].indexOf(cs.abbr)>=0) {
                        return '(Green, Yellow, Red)';

                    } else {
                        return '('+cs.min+' - '+cs.max+')';
                    }
                },

                get_attr_colorscale_min_value_legend: function(cs) {
                    if (['tcps', 'fvps', 'vaps'].indexOf(cs.abbr)>=0) {
                        return (cs.min*100).toFixed(1) +'%';
                    } else if (['crcs'].indexOf(cs.abbr)>=0) {
                        return 'Green';
                    } else {
                        return cs.min;
                    }
                },

                get_attr_colorscale_max_value_legend: function(cs) {
                    if (['tcps', 'fvps', 'vaps'].indexOf(cs.abbr)>=0) {
                        return (cs.max*100).toFixed(1) +'%';
                    } else if (['crcs'].indexOf(cs.abbr)>=0) {
                        return 'Red';
                    } else {
                        return cs.max;
                    }
                },

                get_detail: function(region) {
                    var date_idx = this.dates.indexOf(this.date);
                    return {
                        FIPS: this.data.mchrr_data[region].FIPS,
                        name: this.data.mchrr_data[region].name,
                        state: this.data.mchrr_data[region],
                        pop: this.data.mchrr_data[region].pop,
                        cdt: this.data.mchrr_data[region].cdts[date_idx],
                        crp: this.data.mchrr_data[region].crps[date_idx],
                        crt: this.data.mchrr_data[region].crts[date_idx],
                        ncc: this.data.mchrr_data[region].nccs[date_idx],
                        dnc: this.data.mchrr_data[region].dncs[date_idx],
                        dth: this.data.mchrr_data[region].dths[date_idx],
                        dtr: this.data.mchrr_data[region].dtrs[date_idx],
                        crc: this.data.mchrr_data[region].crcs[date_idx],
                        pvi: this.data.mchrr_data[region].pvis[date_idx],
                        tcp: this.data.mchrr_data[region].nccs[date_idx] / this.data.mchrr_data[region].pop,
                        // fvc: this.data.mchrr_data[region].fvcs[date_idx],
                        // fvp: this.data.mchrr_data[region].fvps[date_idx],
                        // vac: this.data.mchrr_data[region].vacs[date_idx],
                        // vap: this.data.mchrr_data[region].vaps[date_idx],
                    }
                },

                get_detail_by_date: function(region, date) {
                    this.date = date;
                    return this.get_detail(region);
                },

                fmt_comma: function(v) {
                    return jarvis.fmt_comma(v);
                },

                fmt_ind_val: function(ind, val) {
                    return jarvis.ind2txt(ind).fmt(val);
                },

                fmt_val: function(ind, val) {
                    return jarvis.val2txt(ind, val);
                }
            },
            mounted: function() {
                // draw the charts
                for (var i = 0; i < this.mchrr_list.length; i++) {
                    var mchrr = this.mchrr_list[i];

                    // create the map
                    if (mchrr.code != 'AVG') {
                        var fig_map = figmker_crrw_cntymap.make_fig(
                            figmker_crrw_cntymap.regions[mchrr.code],
                            'fig_crrw_mchrrmap_' + mchrr.code, 
                            jarvis.data); 
                        fig_map.draw();
                    } else {
                        var codes = [];
                        for (let j = 0; j < this.mchrr_list.length; j++) {
                            const _m = this.mchrr_list[j];
                            if (_m.code == 'AVG') { continue; }
                            codes = codes.concat(figmker_crrw_cntymap.regions[_m.code].fips_list);
                        }
                        var fig_map = figmker_crrw_cntymap.make_fig(
                            {
                                fips_list: codes,
                                view: [37.1, -94.5, 1.5]
                            },
                            'fig_crrw_mchrrmap_' + mchrr.code, 
                            jarvis.data); 
                        fig_map.draw();
                    }
                    this.maps.push(fig_map);

                    // create the trend chart
                    var plot_id = 'fig_crrw_trend_' + mchrr.code;
                    var fig = figmker_crrw_trend.make_fig(
                        plot_id, 
                        this.data, 
                        mchrr.code, 
                        'mchrr',
                        '#fig_crrw_trend_box_' + mchrr.code
                    );
                    this.figs.push(fig);
                }
            }
        });
    }
};



var jarvis = {
    plots: {},
    data: {},
    state_data: {},
    base_data_url: '/covid_data/v2/',
    fmt_comma: d3.format(','),

    init: function() {
        // init the toast
        $('.toast').toast({
            delay: 10000
        });

        // sortable
        // $('#fig_crrw_trends').sortable({
        //     handle: '.crrw-trend-label',
        //     placeholder: "ui-state-highlight"
        // });
        // $('#fig_crrw_trends').disableSelection();

        $.get(
            this.base_data_url + 'MCHRR-history.json',
            { ver: Math.random() },
            function(data) {
                jarvis.data = data;

                // init the gauge list
                vw_gauge_tile.init(data);
                vw_mchrr_trends.init(data);

                jarvis.ssmsg('Finished initialization.')
                setTimeout('jarvis.ssclose();', 500);
            }, 'json'
        );

    },

    ssmsg: function(msg) {
        $('#ss-msg').html(msg);
    },

    ssclose: function() {
        $('#start-screen').hide();
    },
};

{% include 'js/crrw/jarvis_ext.js' %}

$(document).ready(function(){
    jarvis.init();
})
</script>
</body>
</html>